@use 'variables';

.article {
    position: relative;
    background-color: variables.$default-color;
    overflow: hidden;
    padding: 10px 10px 35px 10px;
    margin: 10px 10px 20px 10px;
}

.article__text {
    float: left;
    padding: 0px 10px 10px 10px;
    width: 55%;
}

.article__title {
    color: variables.$exlrt-orange;
    font-weight: normal;
    font-size: normal;
    margin-bottom: 20px;
    text-align: center;
}

.article__subtitle {
    margin-top: 35px;
    font-weight: 450;
    font-size: large;
}

.article__content {
    font-size: small;
    text-align: left;
    margin-top: 10px;
}

.article__image {
    width: 45%;
    height: 60%;
    float: left;
}

.article-primary {
    .article__image {
        height: 0;
        overflow: hidden;
        padding-top: 35%;
        background: white;
        position: relative;

        img {
            position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    }
}

.article-secondary {
    padding-bottom: 10px;

    .article__image {
        width: 100%;
        height: 25%;
        overflow: hidden;

        img {
            width: 100%;
            margin-top: -80px;
            object-fit: cover;
        }
    }
}

.article__link {
    position:absolute;
    bottom:0;
    right:0;
    margin: 0 10px 10px 0;
    color:deepskyblue;
    font-size: normal;
}

@media (max-width:1025px) {
    .article-primary--flipped .article__text {
        float: right;
    }

    .article-primary--flipped .article__link {
        left: 0;
        margin-left: 10px;
    }

    // .article-secondary--flipped {
    //     position: relative;
    // }

    // .article-secondary--flipped .article-image {
    //     position: absolute;
    //     bottom: 0;
    // }
}

@media (min-width:1026px) {
    .content-box__articles {
        float: left;
        margin: 0;
        width: 60%;
        overflow: visible;
    }

    .wrapper {
        float: left;
        width: 50%;

        &--third {
            float: left;
            width: 33.333%;
        }
    }

    .article-primary {
        min-height: 300px;
        height: auto;
        margin-bottom: 20px;

        .article__image {
            height: 0;
            overflow: hidden;
            padding-top: 35%;
            background: white;
            position: relative;
        }

        .article__image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .article-secondary {
        min-height: 360px;
        margin: 0px 10px 10px 10px;

        .article__title {
            margin-top: 10px;
        }

        .article__content {
            float: left;
            margin-top: 20px;
        }

        .article__image {
            float: left;
            width: 100%;
            max-height: 150px;

            img {
                margin: 0;
            }
        }
    }

    .article__text {
        float: left;
        vertical-align: top;
        height: 90%;
    }

    .article__title {
        font-size: x-large;
        margin-bottom: 20px;
    }

    .article__content {
        font-size: medium;
    }
}