@use 'variables';

@media (max-width:1025px) {
    .content-box__menu {
        display: none;
    }
}

.content-box__menu {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center
}

.menu {
    width: 250px;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
  }

.menu__item {
    background-color: #999;
    color: white;
    padding: 8px 10px;
    margin-bottom: 6px;
    border-radius: 4px;
    font-size: normal;
    text-align: left;

    .icon {
        float: right;
        font-weight: bold;
    }
  }

.menu__item--selected {
    padding: 0;

    .menu__label {
        padding: 8px;
        border-radius: 4px 4px 0 0;
        background-color: #f58220;
    }
}

.submenu {
    list-style: none;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    overflow: hidden;

    li {
        margin: 0;
    }

    a {
        display: block;
        color: #000;
        margin: 4px 0;
    }
}
