@use '../core/colors' as *;
@use '../core/settings' as *;

.article {
    position: relative;
    background-color: $colorBackgroundMain;
    overflow: hidden;
    padding: $padding-sm $padding-sm $padding-lg $padding-sm;
    margin: $margin-sm $margin-sm $margin-md $margin-sm;

    .article__text {
        float: left;
        padding: $padding-sm;
        padding-top: 0;
        width: 55%;
    }

    .article__title {
        color: $colorExlrt;
        font-weight: normal;
        font-size: normal;
        margin-bottom: $margin-md;
        text-align: center;
    }

    .article__subtitle {
        margin-top: $margin-lg;
        font-weight: 450;
        font-size: large;
    }

    .article__content {
        font-size: small;
        text-align: left;
        margin-top: $margin-sm;
    }

    .article__image {
        width: 45%;
        height: 60%;
    }
}



.article-primary {
    .article__image {
        height: 0;
        overflow: hidden;
        padding-top: 35%;
        background: $colorBackgroundMainLightest;
        position: relative;

        img {
            position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    }

    &--flipped {
        .article__text {
            float: right;
        }

        .article__footer-link {
            left: 0;
            margin-left: $margin-sm;
        }
    }
}

.article-secondary {
    padding-bottom: $padding-sm;

    .article__image {
        width: 100%;
        height: 25%;
        overflow: hidden;

        img {
            width: 100%;
            margin-top: -80px;
            margin-bottom: -80px;
            object-fit: cover;
        }
    }

    &--flipped {
        .article__details {
            height: 200px;
            position: relative;
        }

        .article__image {
            height: 70%;
            position: absolute;
            bottom: 0;
        }
    }
}

.article__footer-link {
    position:absolute;
    bottom:0;
    right:0;
    margin: 0 $margin-sm $margin-sm 0;
    color: $colorLinkTertiary;
    font-size: normal;
}

@media (min-width:1025px) {
    .content-box__articles {
        float: left;
        margin: 0;
        width: 60%;
        overflow: visible;
    }

    .wrapper {
        float: left;
        width: 50%;

        &--third {
            float: left;
            width: 33.333%;
        }
    }

    .article-primary {
        min-height: 300px;
        height: auto;
        margin-bottom: $margin-md;

        &--flipped {
            .article__text {
                float: left;
            }

            .article__footer-link {
                left: auto;
                right: 0;
                margin-right: $margin-sm;
            }
        }

        .article__image {
            height: 0;
            overflow: hidden;
            padding-top: 35%;
            background: $colorBackgroundMainLightest;
            position: relative;
        }

        .article__image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .article-secondary {
        min-height: 360px;
        margin: $margin-sm;
        margin-top: 0px;

        .article__title {
            margin-top: $margin-sm;
        }

        .article__content {
            float: left;
            margin-top: $margin-md;
        }

        .article__image {
            float: left;
            width: 100%;
            max-height: 150px;

            img {
                margin: 0;
            }
        }

        &--flipped {
            .article__details {
                display: block;
                position: unset;
            }

            .article__content {
                position: unset;
                float: left;
            }
            .article__image {
                position: unset;
                float: left;
            }
        }
    }

    .article__text {
        float: left;
        vertical-align: top;
        height: 90%;
    }

    .article__title {
        font-size: x-large;
        margin-bottom: $margin-md;
    }

    .article__content {
        font-size: medium;
    }
}