@use '../core/colors' as *;
@use '../core/settings' as *;
@use '../core/mixins' as *;

.header {
    background-color: $colorBackgroundMain;
    overflow: hidden;
}

.header__images {
    display: block;
}

.header__logo {
    float: right;
    width: 40%;
    max-width: 100%;
    margin: $margin-sm;
}

.header__burger {
    float: left;
    width: 10%;
    max-width: 100%;
    margin: $margin-md;
}

.header__nav {
    display: inline-block;
    width: 90%;
    height: 200px;
    padding: $padding-sm;
    background-color: $colorBackgroundMainDarker
}

.nav {
    clear: both;
    display: block;
    width: 90%;
}

.nav__links {
    vertical-align: middle;
    list-style: none;
    overflow: hidden;
    padding: $padding-xs;
    background-color: $colorBackgroundMainDarker;
    border-color: $colorBackgroundMainDarker;

    a {
        @include link(black);
        text-align: center;
        font-size: small;
        margin: $margin-sm;
    }
}

.nav__search-bar {
    float: left;
    width: 90%;
    background-color: $colorBackgroundMainDarker;
    border-color: $colorBackgroundMainDarker;
    padding: $padding-sm;
    white-space: nowrap;

    input {
        display: inline-block;
        width: 80%;
        height: 40px;
        padding: $padding-sm $padding-md;
        border: none;
        border-right: white;
        font-size: small;
    }

    button {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0;
        background-image: url('../images/icon-search.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
        background-color: white;
        border: none;
        vertical-align: top;
    }
}

.header__nav {
    clear: both;

    ~ div {
        float: right;
        background-color: white;
        width: 10%;
        height: 200px;
    }
}

@media (max-width: 1024px){
   
}

@media (min-width: 1025px) {
    .header__images {
        width: 10%;
        float: left;
    }

    .header__burger {
        display: none;
    }

    .header__logo {
        width: 100%;
        margin: 0;
        padding: $padding-md;
    }

    .header__nav {
        float: left;
        height: auto;
        width: 90%;
        background-color: $colorBackgroundMain;

        clear:none;

        ~ div {
            display: none;
            float: right;
            background-color: white;
            width: 10%;
            height: 200px;
        }
    }

    .nav {
        float: left;
        width: 85%;
    }

    .nav__links {
        text-align: center;
        margin-top: $margin-md;
        padding: $padding-sm;
        background-color: $colorBackgroundMain;
    }

    .nav__links li {
        display: inline;
    }

    .nav__links a {
        color: $colorLinkPrimary;
        text-align: center;
        text-decoration: none;
        font-weight: normal;
        font-size: medium;
    }

    header li + li::before {
        margin: 0 $margin-sm;
        content: '| ';
    }

    .nav__search-bar {
        float: left;
        width: 15%;
        background-color: $colorBackgroundMain;
        padding: 10px;
        white-space: nowrap;
    }
}