@use '../core/colors' as *;
@use '../core/settings' as *;

.content-box__menu {
    display: none;
}

@media (min-width:1025px) {
    .content-box__menu {
        display: block;
        float: left;
        width: 20%;
        padding: $padding-sm;
        text-align: center
    }

    .menu {
        width: 90%;
        background-color: $colorBackgroundMain;
        padding: $padding-sm;
        border-radius: $radius-sm;
        margin-left: auto;
        margin-right: auto;
      }

    .menu__item {
        background-color: #999;
        color: $colorBackgroundMainLightest;
        padding: $padding-sm;
        margin-bottom: $margin-sm;
        border-radius: $radius-xs;
        font-size: normal;
        text-align: left;

        .icon {
            float: right;
            font-weight: bold;
        }
      }

    .menu__item--selected {
        padding: 0;

        .menu__label {
            padding: $padding-sm;
            border-radius: $radius-xs $radius-xs 0 0;
            background-color: $colorExlrt;
        }
    }

    .submenu {
        list-style: none;
        padding: $padding-sm;
        background-color: $colorBackgroundMainLightest;
        border-radius: 0 0 $radius-xs $radius-xs;
        overflow: hidden;

        li {
            margin: 0;
        }

        a {
            display: block;
            color: #000;
            margin: $margin-xs 0;
        }
    }

}

