@use '../core/colors' as *;
@use '../core/settings' as *;
@use '../core/mixins' as *;

.content-box__articles {
    display: grid;
    grid-area: 2/2/3/3;
}

.article {
    display: grid;
    overflow: hidden;
    padding: $padding-sm;
    margin: $margin-sm $margin-sm $margin-md $margin-sm;
    background-color: $colorBackgroundMain;

    .article__title {
        color: $colorExlrt;
        font-weight: normal;
        font-size: normal;
        text-align: center;
        padding: $padding-sm;
    }

    .article__subtitle {
        font-weight: 450;
        font-size: large;
        padding: $padding-sm;
    }

    .article__content {
        font-size: small;
        text-align: left;
        padding: $padding-sm;
    }

    .article__footer-link {
        color: $colorLinkTertiary;
        font-size: normal;
    }
}

.article-primary {
    grid-template-columns: 11fr 9fr;
    grid-template-rows: 3fr auto;

    .article__text {
        grid-area: 1/1/2/2;

        .article__title {
            padding-top: 0;
        }

        .article__subtitle {
            padding-top: $padding-md;
        }
    }

    .article__image {
        grid-area: 1/2/2/3;
        height: 0;
        overflow: hidden;
        padding-top: 70%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .article__footer {
        grid-area: 2/2/3/3;
        justify-self: end;
        align-self: end;
        padding-top: $padding-sm;
    }

    &--flipped {
        grid-template-columns: 9fr 11fr;

        .article__text {
            grid-area: 1/2/2/3;
        }

        .article__image {
            grid-area: 1/1/2/2;
        }

        .article__footer {
            grid-area: 2/1/3/2;
            justify-self: start;
            align-self: start;
        }
    }
}

.article-secondary {
    .article__details {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .article__content {
        text-align: justify;
    }

    .article__image {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            margin-top: -80px;
            margin-bottom: -80px;
            object-fit: cover;
        }
    }

    &--flipped {
        .article__details {
            grid-template-rows: auto 1fr;
        }

        .article__content {
            grid-area: 1/1/2/2;
        }

        .article__image {
            grid-area: 2/1/3/2;
        }
    }
}

@media (min-width: $desktop) {
    .content-box__articles {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;

        .article-primary {
            grid-column: span 6;
        }

        .article-secondary {
            grid-column: span 4;
        }

        // .article:nth-child(1) {
        //     grid-row-start: 1;
        //     grid-column: 1 / span 6;
        // }
        // .article:nth-child(2) {
        //     grid-row-start: 1;
        //     grid-column: 7 / span 6;
        // }

        // .article:nth-last-child(-n + 3) {
        //     grid-column: span 4;
        // }

        // .row-one {
        //     display: grid;
        //     grid-template-columns: repeat(2, 1fr);
        // }

        // .row-two {
        //     display: grid;
        //     grid-template-columns: repeat(3, 1fr);
        // }
    }

    .article-primary {

        // Reversing mobile modifiers
        &--flipped {
            grid-template-columns: 11fr 9fr;

            .article__text {
                grid-area: 1/1/2/2;
            }

            .article__image {
                grid-area: 1/2/2/3;
            }

            .article__footer {
                grid-area: 2/2/3/3;
                justify-self: end;
                align-self: end;
            }
        }
    }

    .article-secondary {
        grid-template-rows: auto 1fr;


        .article__details {
            grid-template-rows: repeat(2, auto);
        }

        .article__image {
            img {
                width: 100%;
                margin-top: -30px;
                margin-bottom: -30px;
                object-fit: cover;
            }
        }

        // Reversing mobile modifiers
        &--flipped {
            .article__details {
                grid-template-rows: repeat(2, auto);
            }

            .article__content {
                grid-area: 2/1/3/2;
            }

            .article__image {
                grid-area: 1/1/2/2;
            }
        }
    }
}