@use '../core/colors' as *;
@use '../core/settings' as *;
@use '../core/mixins' as *;

.footer {
    grid-area: footer;
    background-color: $colorFooterMain;
    font-size: small;
    padding: $padding-md;
    padding-top: $padding-lg;
    color: $colorLinkSecondary;

    ul {
        list-style-type: none;
    }
}

.footer__columns {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.footer__column {
    display: block;
    margin-bottom: $margin-xl;

    li {
        margin: $margin-md 0;
    }

    a {
        @include link($colorLinkSecondary);
    }
}

.footer__column + .footer__column + .footer__column {
    display: none;
}

.footer__footnote {
    grid-area: 3/1/4/2;
    max-width: fit-content;
    margin: 0 auto;
    font-weight: 300;
    font-size: small;
}