@use '../core/colors' as *;
@use '../core/settings' as *;
@use '../core/mixins' as *;

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(10, 1fr);

    .header__images {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-area: 1/1/2/11;
        background-color: $colorBackgroundMain;
    }

    .header__logo {
        height: 50px;
        max-width: 100%;
        padding: $padding-sm;
        justify-self: end;
    }

    .header__burger {
        height: 50px;
        max-width: 100%;
        padding: $padding-sm;
        justify-self: start;
    }

    .header__nav {
        grid-area: 2/1/3/10;
        background-color: $colorBackgroundMainDarker;
    }
}

.nav__links {
    vertical-align: middle;
    list-style: none;
    overflow: hidden;
    padding: $padding-sm;
    background-color: $colorBackgroundMainDarker;
    border-color: $colorBackgroundMainDarker;

    li {
        margin: $margin-xs 0;
    }

    a {
        @include link(black);
        text-align: center;
        font-size: small;
    }
}

.nav__search-bar {
    background-color: $colorBackgroundMainDarker;
    border-color: $colorBackgroundMainDarker;
    padding: $padding-sm;
    white-space: nowrap;

    input {
        display: inline-block;
        width: 80%;
        height: 50px;
        padding: $padding-sm $padding-md;
        border: none;
        border-right: white;
        font-size: small;
    }

    button {
        display: inline-block;
        width: 40px;
        height: 50px;
        margin: 0;
        background-image: url('../images/icon-search.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
        background-color: white;
        border: none;
        vertical-align: top;
    }
}

@media (min-width: $desktop) {
    .header {
        grid-template-rows: 100%;
        grid-template-columns: 15% 85%;

        .header__images {
            grid-template-columns: 1fr;
            grid-area: 1/1/2/2;
            
        }

        .header__logo {
            justify-self: center;
            height: auto;
            width: 100%;
        }

        .header__burger {
            display: none;
        }

        .header__nav {
            grid-area: 1/2/2/3;
            display: grid;
            grid-template-columns: 80% 20%;
            background-color: $colorBackgroundMain;
        }
    }

    .nav {
        justify-self: center;
        align-self: center;

        .nav__links {
            background-color: $colorBackgroundMain;

            li {
                display: inline;
            }

            a {
                color: $colorLinkPrimary;
                text-align: center;
                text-decoration: none;
                font-weight: normal;
                font-size: medium;
            }
        }
    }

    .nav__search-bar {
        align-self: center;
        background-color: $colorBackgroundMain;
    }

    header li + li::before {
        margin: 0 $margin-sm;
        content: '| ';
    }
}