@mixin equal-height($elements...) {
    @each $el in $elements {

        .row {
            display: flex;

            > [class*="col-"] {
              display: flex;
              flex-direction: column;

              #{$el} {
                height: 100%;
                display: flex;
                flex-direction: column;
              }
            }
          }
    }
}